<div class="featured-content">
	<img src="{{ featured_image }}" />
	<h1>{{ featured_content_heading }}</h1>
	<p>{{ featured_content_teaser_description }}</p>
	<a href="{{ featured_content_permalink }}">Read more!</a>
</div>